@import url("http://fonts.cdnfonts.com/css/neue-metana");
@import url("http://fonts.cdnfonts.com/css/monument-extended");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: whyte;
    src: url("../public/ABCWhyteInktrap-Bold-Trial.otf");
    font-weight: bold;
}
@font-face {
    font-family: whyte;
    src: url("../public/ABCWhyteInktrap-Book-Trial.otf");
    font-weight: normal;
}
@layer utilities {
    .navbg {
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(1110px);
        -webkit-backdrop-filter: blur(1110px);
    }
    .bgGradient {
        background-image: linear-gradient(90.71deg, #73e0a9, #5b68df);
        transition: transform 0.3s ease;
        overflow: hidden;
        color: white;
    }
    .gradTxt {
        background: linear-gradient(90.71deg, #73e0a9, #5b68df);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    /* .bgGradient::after {
        content: "";
        width: 300px;
        height: 300px;
        position: absolute;
        background-color: black;
        background-image: linear-gradient(90.71deg, #73e0a9, #5b68df);
        z-index: -1;
        transition: transform 0.5s ease;
    } */
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: whyte;
}

a {
    color: inherit;
    text-decoration: none;
}

.MuiTabs-textColorPrimary,
.MuiTab-textColorPrimary {
    color: #b8b7cf;
    font-family: whyte;
    text-transform: none;
    font-size: 16px;
    font-weight: bold;
}
.MuiTabs-textColorSecondary,
.MuiTab-textColorSecondary {
    color: white;
    font-family: whyte;
    text-transform: none;
    font-size: 16px;
    font-weight: bold;
}
.Mui-selected {
    background: linear-gradient(90.71deg, #73e0a9, #5b68df);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.MuiTabs-indicator {
    background-image: linear-gradient(90.71deg, #73e0a9, #5b68df);
    transition: transform 0.3s ease;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}
